.swal2-cancel{
	margin: 0 10px 0 10px !important;
}
.swal2-confirm{
	margin: 0 10px 0 10px !important;
}

.container-modal{
	display: flex;
	justify-content: center;
	width: 100%;
}

.inputbox {
	position: relative;
	width:95%;
	margin: 15px 5px 5px 5px;
	justify-content: center;
  }

  .inputbox input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
	margin-top: 15px;

  }

  .inputbox span {
	position: absolute;
	left: 0;
	padding: 20px 10px 10px;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 00.05em;
	transition: 0.5s;
	pointer-events: none;
  }

  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
	color: #23242a;
	transform: translateX(-10px) translateY(-34px);
	font-size: 0,75em;
  }

  .inputbox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e9d29f;
	border-radius: 4px;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
  }

  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
	height: 44px;
  }






  .input {
	font-family: 'Segoe UI', sans-serif;
	margin: 1em 0 1em 0;
	max-width: 100%;
	position: relative;
  }
  
  .input input {
	font-size: 100%;
	padding: 0.8em;
	outline: none;
	border: 2px solid #000000;
	background-color: transparent;
	border-radius: 20px;
	width: 100%;
	margin-top: 13px;
  }
  
  .input label {
	font-size: 100%;
	position: absolute;
	left: 0;
	padding: 0.8em;
	margin-left: 0.5em;
	pointer-events: none;
	transition: all 0.3s ease;
	color: rgb(0, 0, 0);
  }
  
  .input :is(input:focus, input:valid)~label {
	transform: translateY(-35%) scale(.9);
	margin: 0em;
	margin-left: 1.3em;
	padding: 0.5em;
	background-color: white;
  }
  
  .inputGroup :is(input:focus, input:valid) {
	border-color: rgb(37, 37, 211);
  }