// navbar
.navbar-color-home {
    background-color: #ECB666;

}

.navbar-color {
    background-color: #e9d29f;

}

.navbar-landing {
    padding: 10px 0px;
    transition: all 0.5s ease;

    @media (max-width: 991.98px) {
        padding: 10px 8px;


    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 16px;
                font-weight: $font-weight-medium;
                transition: all 0.4s;
                font-family: $font-family-secondary;
                color: $black;
                padding: 14px;

                @media (max-width: 991.98px) {
                    padding: 8px 0px;


                }

                &:hover,
                &.active,
                &:focus {
                    color: #EC6B76;
                }
            }

            &.active {
                .nav-link {
                    color: $success !important;
                }
            }
        }
    }

}

// hero section

.hero-section {
    background-color: rgba(var(--#{$prefix}light-rgb), 0.5);
    padding: 0;
    position: relative;
    //overflow-x: hidden;

}

.bg-overlay-pattern {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px);
    background: url("../../images/landing/img-perro-landing.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    //background-attachment: fixed;
    opacity: 0.9;

    @media (max-width: 768px) {
        background-image: url("../../images/landing/img-landing.png");
        height: calc(100vh - 120px);
        opacity: 1;

    }
}

.container-row {
    position: absolute;
    height: calc(100vh - 125px);
    align-content: center;
    top: 0;
}

.container-home {
    width: 100%;
    //margin-top: 50px;
    display: flex;
    justify-content: end;
    padding: 0;


    .div-contenido {
        width: 40%;
        height: 80vh;
        margin-right: 100px;

        .text-title {
            font-size: 1.5em;
        }

        .span-title {
            color: inherit;
            padding: 0;
            background: none;
            background-image: linear-gradient(120deg, #f08089, #db8c93);
            background-repeat: no-repeat;
            background-position: 0 80%;
            position: relative;
            animation-delay: 1s;
            background-size: 100% 0.4em;
        }

        .span-text {
            color: #ec6b76;
            font-weight: 800;
        }

        .text-home {
            color: $black !important;
            font-weight: 400;
            text-align: justify;
            font-size: 1.25em;
        }

        @media (min-width: 426px) and (max-width: 768px) {
            margin-right: 50px;

            .text-title {
                font-size: 2em;
            }

        }

        @media (min-width: 769px) and (max-width: 1440px) {
            margin-right: 50px;

            .text-home {
                font-size: 1.1em;

            }
        }

        @media (min-width: 1440px) {
            .text-title {
                font-size: 3.3em;
            }
        }
    }

    @media (max-width: 768px) {
        height: 90%;
        justify-content: center !important;

        .div-contenido {
            width: 100%;
            text-align: center;
            align-content: center;

            margin-left: 30px;
            margin-right: 10px;
        }
    }
}


//Footer
.custom-footer {
    color: #9ba7b3;
    margin-top: auto;
    width: 100%;
    padding: 20px 0 30px 0 !important;
}

.footer-list {
    li {
        a {
            color: #9ba7b3;
            padding: 7px 0;
            display: block;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: rgba($white, 0.9);
            }
        }
    }
}

.footer-social-link {
    .avatar-title {
        color: #778089;
        background-color: rgba($white, 0.05);
        transition: all 0.3s ease;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

#back-to-top {
    &.landing-back-top {
        bottom: 35px;
    }
}


.dropdownmenu {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: $font-weight-medium;
    transition: all 0.4s;
    font-family: $font-family-secondary;
    color: var(--#{$prefix}dark);
    padding: 14px;

    &:hover,
    &.active,
    &:focus {
        color: #EC6B76 !important;
        background-color: transparent !important;
    }

    @media (max-width: 991.98px) {
        padding: 8px 0px;
    }
}

;



.button-navbar {
    @media (max-width: 991.98px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: min-content;
        height: 60px;
    }
}

.btn-login {
    @media (max-width: 991.98px) {
        margin-right: 16px;
        box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.3);
    }
}

.btn-register {
    @media (max-width: 991.98px) {
        box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.3);
    }
}

.ul-nav {
    @media (max-width: 991.98px) {
        margin-bottom: 20px;
    }
}