// PROGRESS 

.progress {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  position: relative;
  margin-bottom: 20px;
}

.progress::after {
  content: '';
  display: block;
  width: var(--progress-width, 0);
  background-color: #4caf50;
  height: 100%;
  transition: width 0.3s;
}




//botones siguiente y back

.btn-next-paseador {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1F2937;
  color: white ;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
  color: #ffff;

}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(236, 107, 118,0.9);
  border-radius: 9999px;
  width: 0;

  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.transition-back{
  background-color: rgba(236, 107, 118,0.9);

}

.btn-next-paseador:hover .transition {
  width: 14em;
  height: 14em;
  
}

.btn-next-paseador:active {
  transform: scale(0.97);
}




//ESTILOS

.img-paseador{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.precio-paseador{
  padding: 10px;
  font-size: 1.5em;

}
.presentacion-paseador{
  color: black !important;
  overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: justify;
}

.button-container {
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  bottom: 0;

}

.preview-image{
  width: 40%;
  display: flex;
  justify-content: start;
  margin: 10px;

}
.container-img-cargadas{
  width: 100%;
  height: 150px;
  
    position: relative;
    display: inline-block;


  @media (min-width:550px)and  (max-width: 1200px) {
    height: 250px;
    width: 80%;
  }
}
.img-cargadas{
  width: 80%;
  height: 100%;
  margin: 10px;
  object-fit: contain;
display: flex;

}
.btn-eliminar-foto {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red; /* Puedes personalizar el estilo según tus necesidades */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}











.checkbox-cell {
  text-align: center;
  /* Centra el contenido verticalmente */
}

.checkbox-cell .custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Hace que la celda ocupe la totalidad de la altura */
  margin: 0;
}

.checkbox-cell input[type="checkbox"] {
  margin: 0;
  /* Elimina cualquier margen del checkbox */
  width: 20px;
  /* Ajusta el ancho del checkbox según tus preferencias */
  height: 20px;
  /* Ajusta la altura del checkbox según tus preferencias */
}



.img-paseo-perfil{
  width: 80%;
  height: 600px;
  object-fit: contain;
}




.green-text {
  color: green;
}

.red-text {
  color: red;
}


.icono-reloj{
  width: 40px;
  height: 60px;
  }