.container {
  padding: 20px;
}

.image {
  width: 20% !important;
  display: flex;
  justify-content: end;
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 10px;
}


.containerDiv {
  height: 100vh ;
}