.card-title-pets {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.boton-flotante {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #118126;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    font-size: 30px;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    }


}




.button-consultar{
    border: none;
    box-shadow: 0px 1px 10px rgba(255,255 ,255 , 0.2);
    transition: all 400ms ease;
    &:hover{
        box-shadow: 0px 1px 10px rgba(219, 122, 122, 0.9);
        transform: translateY(-3%);
        cursor: pointer;
    }
}



.button-pets {
    /* Ajusta el tamaño de la imagen */
    background-size: contain;
    /* Ajusta la posición del icono */
    background-position: center;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: none;
    margin: 10px;

   
}

.img-mascota {
    width: 100%;
    height:300px;
    display: block;
    margin: 0 auto;
    // object-fit: cover;

}

.img-consultar-mascota {
    height: 400px;
}

.datos-mascotas {
    font-size: 16px;
    border: solid #0000 2px;

    p ,strong{
        font-size: 1.1em;
    }
}

.container-datos-mascotas {
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    width: 500px;

    @media (max-width: 1400px) {
        width: 290px;
    }

    @media (max-width: 767px) {
        width: 400px;

    }

    @media (max-width: 470px) {
        width: 250px;

    }

}

.container-text-foto {
    display: flex;
    justify-content: center;

    .text-foto {
        width: fit-content;
        font-size: 20px;
    }
}



//

.icon-tabler-info-circle {
    width: fit-content;


}