
.service-card {
  position: relative;
  overflow: hidden; // Asegura que la imagen no se salga
  cursor: default; // O pointer si quieres indicar acción
}

.service-card .service-card-img {
  opacity: 0.5; // Imagen semitransparente por defecto
}

.service-card:hover .service-card-img {
  opacity: 0.2; // Más transparente en hover
}

.service-card .service-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; // Encima de la imagen
  color: white; // O un color oscuro si la imagen es clara
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); // Sombra para legibilidad
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.3); // Fondo sutil opcional
  border-radius: 4px;
  text-align: center;
  width: 90%; // Evitar que toque los bordes
}

.wallet-container .mercadopago-button-container {
    // Estilos específicos si necesitas ajustar el botón de MP
}



/* Anula el estilo del div generado por google-maps-react */
// div[style="position: absolute; width: 100%; height: 100%;"] {
//   position: relative;
//   width: 95% !important;
//   /* Restablece el ancho predeterminado */
//   height: 100px !important;
//   /* Restablece la altura predeterminada */

// }




// .veterinarias-list-container {
//     border-radius: 1%;
//     max-height: 400px; // Altura máxima de la lista
//     overflow-y: hidden; // Oculta la barra de desplazamiento inicialmente

//     &.scroll-bar {
//       overflow-y: scroll; // Muestra la barra de desplazamiento cuando se necesita
//     }

//     ul {
//       list-style: none;
//       padding: 0;
//       margin: 0;
//     }

//     li {
//       margin-bottom: 10px;
//       padding: 5px;
//       border: 1px solid #ccc;
//       background-color: #f9f9f9;
//       border-radius: 5px;
//     }
//   }
.filtros-veterinarias-container {
  display: flex;
  margin: 20px;
}

.filtros-veterinarias {
  width: 50%;
  margin: 10px;

}

.mapa-container {
  display: flex;
  justify-content: space-between;
}

.veterinaria-detail {
  width: 100%;
  padding: 20px;
  //background-color: #fff;
  z-index: 1;
  position: relative;
}

.veterinaria-detalle-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c62828;
}

.lateral-veterinarias {
  background-color: red;
}




.imagen-servicio-vet{
  width: 50%;

}